.all-test {
    /* position: relative; */
    /* left: 0; */
    /* top: 200vh; */
    width: 100vw;
    object-fit: cover;
    /* background-color: rgb(255, 255, 255); */
    color: #000000;
  }

.prog-head{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
    padding: 2vh;
}

.carousel{
    width: 100vw;
    object-fit: cover;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .all-test {
        width: 100vw;
        object-fit: cover;
        color: #000000;
    }
    .prog-head{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
        text-align: center;
        padding: 2vh;
    }

    .card{
        width: 80vw;
        object-fit: cover;
        color: #a5a5a5;
    }
}