/* flex flex-row gap-x-2 w-full z-20 fixed top-0 left-0 h-12 border-b place-content-center items-center bg-gray-200 */
.navbar{
    margin: auto;
}

.pagename{
    font-size: 2.5vh;
    color: green;
    padding-left: 5%;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
}

.pagename:hover{
    color: green;
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.loginbtn{
    cursor: pointer;
    margin-left: 3%;
    margin-right: 5%;
}

#menuu{
    background: #000;
}

.nav-el{
    color: black;
}

.nav-el:hover{
    color: green;
}