#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .btn {
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 0.25em;
  background-color: #646cff;
  color: white;
  text-decoration: none;
  transition: background-color 300ms;
} */

