@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(52, 52, 52, 0.87);
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.custom-btn{
  background-color: #ffffff;
  color: green;
  border: 1px solid green;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8vh;
}